ETHEREUM_RPC_URL=https://eth.drpc.org
BSC_RPC_URL=https://bsc.drpc.org
POLYGON_RPC_URL=https://polygon.drpc.org
ARBITRUM_RPC_URL=https://arbitrum.drpc.org
SEPOLIA_RPC_URL=https://sepolia.drpc.org
OPTIMISM_RPC_URL=https://optimism.drpc.org
AVALANCHE_RPC_URL=https://avalanche.drpc.org
FANTOM_RPC_URL=https://rpcapi.fantom.network
BASE_RPC_URL=https://base.drpc.org
CELO_RPC_URL=https://celo.drpc.org
GNOSIS_RPC_URL=https://gnosis.drpc.org
CRONOS_RPC_URL=https://cronos.drpc.org
MOONBEAM_RPC_URL=https://moonbeam.drpc.org
METIS_RPC_URL=https://metis.drpc.org
KAVA_RPC_URL=https://evm.kava.io
ETHEREUM_EXPLORER_API_URL=https://api.etherscan.io/v2/api
ETHEREUM_BLOCKSCOUT_API_URL=https://eth.blockscout.com/api/v2
BSC_EXPLORER_API_URL=https://api.etherscan.io/v2/api
BSC_BLOCKSCOUT_API_URL=
POLYGON_EXPLORER_API_URL=https://api.etherscan.io/v2/api
POLYGON_BLOCKSCOUT_API_URL=
ARBITRUM_EXPLORER_API_URL=https://api.etherscan.io/v2/api
ARBITRUM_BLOCKSCOUT_API_URL=https://arbitrum.blockscout.com/api/v2
EXPLORER_API_KEY=
BITCOIN_API_URL=https://blockstream.info/api
BLOCKCHAIN_DATA_DIR=./blockchain_engine/data
MAX_RPC_SCAN_BLOCKS=250
REQUEST_RETRIES=3
REQUEST_BACKOFF_SECONDS=1.0
